<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav mode="over" class="app-sidenav" [opened]="!opened">
    <mat-toolbar class="logo-toolbar justify-center">
      @if (user) {
          <img
          [ngSrc]="user.photoURL"
          class="menu-img"
          alt="default profile"
          width="100"
          height="100"
          priority
        />
      }
    </mat-toolbar>
    <h3 class="margin-l-10">Welcome! @if (user) { {{ user.displayName }} }</h3>
    <mat-nav-list>
      <mat-list-item class="link" [routerLink]="['/todo-list']">Tasks</mat-list-item>
      <mat-list-item class="link" [routerLink]="['/profile']">Profile</mat-list-item>
      <mat-list-item (click)="logOut()"> Logout </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <app-header (sidenav)="sidenav.toggle()"></app-header>
    <div class="sidenav-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
