mat-sidenav.mat-drawer-side {
  border: none;
}

mat-toolbar.mat-toolbar {
  background-color: #fff;
}

.menu-img {
  border-radius: 50%;
}

.panel-title {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.logo-toolbar {
  height: 100px;
  margin-top: 10px;
}

mat-list-item {
  margin: 20px 0;
}

li {
  text-align: justify;
  margin: 15px;
  font-size: 16px;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.app-sidenav-container {
  flex: 1;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.app-sidenav {
  width: 250px;
}

mat-nav-list {
  margin: 0;
}

.active {
  font-weight: 600;
  font-style: normal;
  list-style-type: disc;
}

.sidenav-content {
  padding: 5px;
}

.sidenav-container {
  padding: 20px;
  background-color: #fff;
}

.link {
  cursor: pointer;
}

.margin-l-10 {
    margin-left: 15px;
}
