@if (data.editMode) {
    <h2 mat-dialog-title>Edit Task</h2>
} @else {
    <h2 mat-dialog-title>Add New Task</h2>
}
<mat-dialog-content>
    <form [formGroup]="toDoForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" type="text" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
                @for (status of statusList; track status) {
                    <mat-option [value]="status.value">{{status.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    @if (data.editMode) {
        <button mat-raised-button color="primary" (click)="updateTask()" [disabled]="toDoForm.invalid" [mat-dialog-close]="true">Update</button>
    } @else {
        <button mat-raised-button color="primary" (click)="createTask()" [disabled]="toDoForm.invalid" [mat-dialog-close]="true">Create</button>
    }
    <button mat-raised-button color="warn" (click)="toDoForm.reset()">Clear</button>
    <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>