<div class="title-container">
  <span>Tasks</span>
  <span class="spacer"></span>
  <button mat-raised-button color="primary" (click)="addNewTask()">
    Add New Task
  </button>
</div>

@if (isLoadingResults | async) {
    <div class="loading-shade">
        <mat-spinner></mat-spinner>
    </div>
} @else { 
    @if (data.length) {
        <div class="table-container">
            <mat-form-field>
                <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Search by title, status.."
                #input
                />
            </mat-form-field>
            <mat-card appearance="outlined">
                <table
                mat-table
                [dataSource]="dataSource"
                matSortActive="status"
                matSortDisableClear
                matSortDirection="asc"
                matSort
                >
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef>Title</th>
                        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        sortActionDescription="Sort by status"
                        matTooltip="Sort tasks by status"
                        >
                        Status
                        </th>
                        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
                    </ng-container>

                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef>Created At</th>
                        <td mat-cell *matCellDef="let row">{{ row.date | date : "medium" }}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="action-header">Actions</th>
                        <td mat-cell *matCellDef="let row">
                        <button mat-button matTooltip="View Task" (click)="viewTask(row.id)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-button matTooltip="Edit Task" (click)="editTask(row.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            mat-button
                            matTooltip="Delete Task"
                            (click)="deleteTask(row.id)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">
                            <h4>No data matching the filter "{{ input.value }}"</h4>
                        </td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-card>
        </div>
    } @else {
        <h2>No Records Found!</h2>
    } 
}
