@if (isLoadingResults | async) {
    <div class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>
}
<section class="login-form">
  <span class="sign-in flex-col items-center"> Sign In </span>
  <form [formGroup]="userLoginForm" class="flex-col items-center">
    <mat-form-field>
      <input
        matInput
        placeholder="Your email"
        type="email"
        formControlName="email"
        required
      />
      <button matPrefix mat-icon-button class="icon-button" disabled="true">
        <mat-icon>mail_outline</mat-icon>
      </button>
      @if(controls['email'].invalid && controls['email'].touched){
        <mat-error>Email required or invalid.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
        placeholder="Your password"
      />
      <button matPrefix mat-icon-button class="icon-button" disabled="true">
        <mat-icon>lock</mat-icon>
      </button>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if(controls['password'].invalid && controls['password'].touched) {
        <mat-error>Password required or invalid.</mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="login"
      [disabled]="userLoginForm.invalid"
      (click)="login(userLoginForm)"
    >
      Sign In
    </button>
    <span class="not-a-member"
      >Not a member?
      <span class="sign-up" (click)="navigateToSignUp()">Sign Up</span>
    </span>
  </form>
</section>
