@if (isLoadingResults | async) {
    <div class="loading-shade">
        <mat-spinner></mat-spinner>
    </div>
}
@if (taskDetails) {
    <section class="flex-row justify-center task-details">
        <mat-card class="container container-xs" [class.mat-elevation-z8]="true">
            <mat-card-title class="justify-center flex-row">Task Details</mat-card-title>
            <mat-card-content class="justify-center flex-column">
                <p><strong>Title:</strong> {{taskDetails.title}}</p>
                <p><strong>Description:</strong> {{taskDetails.description}}</p>
                <p><strong>Status:</strong> {{taskDetails.status}}</p>
            </mat-card-content>
            <mat-card-actions class="flex-row space-even">
                <button mat-raised-button color="primary" (click)="editTask()">Edit Task</button>
                <button mat-raised-button color="warn" (click)="deleteTask()">Delete Task</button>
                <button mat-raised-button color="accent" (click)="goBack()">Back</button>
            </mat-card-actions>
        </mat-card>
    </section>
}
